<%- include("partials/head") %>
<%- include("partials/home-nav-bar") %>


<div class="main-contain mt-5">

  <%- include("partials/contact-form") %>

  <%- include("partials/foot-nav-bar") %>


</div>

<%- include("partials/footer") %>
