<%- include("partials/head") %>
<%- include("partials/lo-nav-bar") %>


<div class="main-contain mt-5">

<%- include("partials/login-form") %>


<%- include("partials/foot-nav-bar") %>


</div>

<%- include("partials/footer") %>
