<%- include("partials/head") %>
<%- include("partials/user-nav-bar") %>

<div class="main-contain mt-4">

<%- include("partials/short-profile-bar") %>

<%- include("partials/food-submit-form") %>

<%- include("partials/foot-nav-bar") %>


</div>

<%- include("partials/footer") %>
