
<%- include("partials/head") %>
<%- include("partials/user-nav-bar") %>

<div class="main-contain mt-4">

<%- include("partials/short-profile-bar") %>

<div class="offset-lg-3">

<h1>Whoo Hoo!</h1>
<h3>You have successfully submitted a food suggestion.</h3>
<h3>Thank you for helping others figure out what to eat!</h3>

<a href="/submit" class="more-food"><button class="btn btn-dark" type="button" name="submit-more">Submit More Food</button></a>

</div>

<%- include("partials/foot-nav-bar") %>


</div>

<%- include("partials/footer") %>
