<%- include("partials/head") %>
<%- include("partials/user-nav-bar") %>

<div class="main-contain mt-5">

<%- include("partials/WRU-user") %>


<%- include("partials/foot-nav-bar") %>


</div>


<%- include("partials/footer") %>
