<%- include("partials/head") %>
<%- include("partials/user-nav-bar") %>

<div class="main-contain mt-4">


  <%- include("partials/profile-bar") %>


  <div class="container-fluid mb-3">
    <%- include("partials/time-of-day") %>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%- include("partials/user-buttons") %>
        <%- include("partials/food-suggestion") %>
      </div>
    </div>
  </div>


  <div class="container-fluid ">
    <%- include("partials/google-ad") %>
  </div>


  <%- include("partials/foot-nav-bar") %>

  </div>


  <%- include("partials/footer") %>
